<form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
  <div class="left">
    <label>
      Heading
      <input class="title" type="text" formControlName="heading">
    </label>
  
    <label>
      Short description
      <input class="short" type="text" formControlName="shortDescription">
    </label>
  
    <label>
      Content
      <textarea class="content" formControlName="content"></textarea>
    </label>
  </div>
  <div class="right">
    <div class="radioGroup">
      Image
      <input type="radio" name="image" value="URL" checked> URL
      <input type="radio" name="image" value="File" checked> File
    </div>

    <input class="imageInput" type="text" formControlName="image">
       
    <label>
      Date
      <input class="date" type="text" formControlName="date" [value]="publicationDate | date:'medium'">
    </label>

    <label>
      Author
      <input class="author" type="text" formControlName="author">
    </label>

    <label>
      Source URL
      <input class="sourceUrl" type="text" formControlName="sourceUrl">
    </label>

    <div class="buttonGroup">
      <button class="submit" (click)="save()" type="submit" [disabled]="!newsForm.valid">Save</button>
      <button (click)="cancel()" routerLink="/">Cancel</button>
    </div>

  </div>  
</form>
